<!DOCTYPE html>
<html>
<head>
	<title>Handy Zeb Admin</title>
	<link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
		<% include partials/nav %>
        <div class="container-fluid">
		<h2>Service Providers</h2>
        <div class=row>
            <div class="col-md-5">
		<form class="form-inline" action="/search-sp" method="post">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="First Name/Last Name" name="searchItem">
            </div>
            <input class="btn" type="submit" value="Search">
            </form>
            </div>
        <div class="col-md-3">
		<form class="form-inline" action="/search-sp-on-status" method="post">
            <div class="form-group">
			<select class="form-control" name="status">
				<option value="">Choose Account Type</option>
				<option value="suspended">Suspended</option>
				<option value="unsuspended">Unsuspended</option>
			</select>
            </div>
			<input class="btn" type="submit" value="Search">
		</form>
            </div>
            </div>
            <br>
		<table class="table table-hover">
			<tr>
				<th>Username</th>
				<th>First name</th>
				<th>Last name</th>
                <th>Email</th>
				<th>Contact number</th>
				<th>Shift start</th>
				<th>Shift end</th>
				<th>Working Days</th>
				<th>Rating</th>
				<th>Earnings</th>
			</tr>
			<% serviceProviders.forEach(function(item){ %>
				<tr>
					<td><%= item.userName %></td>
					<td><%= item.firstName %></td>
					<td><%= item.lastName %></td>
                    <td><%= item.email %> <a href="/edit-sp?userName=<%= item.userName %>">Edit</a></td>
					<td><%= item.contactNumber %></td>
					<td><%= item.shiftStart %></td>
					<td><%= item.shiftEnd %></td>
					<td><%= item.workingDays %></td>
					<td><%= item.rating %></td>
					<td><%= item.earnings %></td>
					<td>

					<% if(item.status == '1'){ %>
                        <form class="form-inline" action="/suspend" method="post">
                            <div class="form-group">
                                <input hidden name="userId" type="text" value="<%= item.spId %>">
                            </div>
                        <input class="btn" type="submit" value="Suspend">
                        </form>
					<% }else{ %>
                        <form class="form-inline" action="/unsuspend" method="post"><div class="form-group">
                            <input hidden name="userId" type="text" value="<%= item.spId %>">
                            </div>
                            <input class="btn" type="submit" value="Unsuspend">
                        </form>
					<% } %>

					</td>
				</tr>
			<% }) %>
		</table>
	</div>
</body>
</html>