<!DOCTYPE html>
<html>
<head>
	<title>HandyZeb Admin</title>
</head>
<body>
	<div class="container">
		<% include partials/nav %>
		<h2>Transactions</h2>
	<% if (transactions.length !=0 ){ %>
		<table>
			<tr>
				<th>Transaction Number</th>
				<th>Customer Number</th>
				<th>Service Provider ID</th>
				<th>Service Number</th>
				<th>Specification</th>
				<th>Status</th>
				<th>Date Started</th>
				<th>Date Finished</th>
			</tr>

			<% transactions.forEach(function(item){ %>
				<tr>
					<td><%= item.transactionNumber %></td>
					<td><%= item.customerNumber %></td>
					<td><%= item.spNumber %></td>
					<td><%= item.service %></td>
					<td><%= item.specification %></td>
					<td><%= item.status %></td>
					<td><%= item.dateStart %></td>
					<td><%= item.dateFinished %></td>
				</tr>
			<%	}) %>

		</table>
	<% }else{ %>
		<p>No Transactions yet</p>
	<% } %>
	</div>
</body>
</html>