<!DOCTYPE html>
<html>
<head>
	<title>HandyZeb Admin</title>
	<link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<% include partials/nav %>
	<div class="container">
		<h2>Transactions</h2>

	<% if (transactions.length !=0 ){ %>
		<table class="table table-hover">
			<tr>
				<th>Transaction Number</th>
				<th>Customer Name</th>
				<th>Service Provider Name</th>
				<th>Service</th>
				<th>Specification</th>
			</tr>

			<% transactions.forEach(function(item){ %>
				<tr>
					<td><%= item.transactionId %></td>
					<td><%= item.customerName %></td>
					<td><%= item.spName %></td>
					<td><%= item.serviceType %></td>
					<td><%= item.specification %></td>
				</tr>
			<%	}) %>

		</table>
	<% }else{ %>
		<p>No Transactions yet</p>
	<% } %>
	</div>
</body>
</html>